@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>5 Stars Reviews is a movie database that is an online database of information related to films, including reviews.
    There is a vast number of films to read about here from a mixture of genres including; Martial Arts, Sci-Fi, Horror and much more. </p>
