@{
    ViewBag.Title = "Drama";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Drama</h2>

<table>
    <tr>
        <td><a href="http://localhost:12858/Home/ForrestGump">Forrest Gump</a></td>
        <td><a href="http://localhost:12858/Home/TheShawShankRedemption">The ShawShank Redemption</a></td>
        <td><a href="http://localhost:12858/Home/ManchesterBytheSea">Manchester By the Sea</a></td>
        <td><a href="http://localhost:12858/Home/SavingPrivateRyan">Saving Private Ryan</a></td>>

    </tr>


</table>