@{
    ViewBag.Title = "Enter the Dragon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Enter the Dragon</h2>

<p>Often considered one of the greatest martial arts films of all time, Enter The Dragon was Bruce Lee's final film.<br>
 the film was selected for preservation in the United States National Film Registry by the Library of Congress as being "culturally, historically, or aesthetically significant".<br>
 The film was often thought of as the one that sparked the "Kung Fu Kraze" both in the United States as well as beyond.</p>
 
<p>Bruce Lee plays a martial-arts expert determined to help capture the narcotics dealer whose gang was responsible for the death of his sister.<br>
Lee enters a Kung Fu competition in an attempt to fight his way to the dealer's headquarters with the help of some friends.</p>

<p> Bruce Lee's final film gets an 8.2 out of 10 from 5 Star Reviews, it has fantastic fight choreography.</p>