@{
    ViewBag.Title = "Fearless";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Fearless</h2>

<p>Fearless, is Jet Li's 2006 Chinese-Hong Kong martial arts film directed by Ronny Yu and starring Jet Li.<br>
It is loosely based on the life of Huo Yuanjia, a Chinese martial artist who challenged foreign fighters in highly publicized events,<br>
restoring pride and nationalism to China at a time when Western imperialism and Japanese manipulation were eroding the country<br>
Li stated in an interview that the film was his last wushu martial arts epic, a point also made in the film's television promotions and other publicity.</p>

<p>After a terrible tragedy, a martial artist retreats to a remote village to gain a new appreciation for the important things in life.<br>
When he returns to the city to reconcile his past with the present, he gets caught up in a duel to the death defending China's honor.</p>

<h2>Huo Yuanjia</h2>

<p>In 1902, Huo responded to a challenge advertised by a Russian wrestler in Tianjin.<br>
The wrestler openly called the Chinese "sick men of Asia" because no one accepted his challenge to a fight.<br>
 The Russian forfeited when Huo accepted his challenge and told Huo that he was merely putting on a performance to make a living and apologised for his earlier remark in the newspaper.<br>
 Huo became famous throughout China for winning various other challenges.</p>
 
 <p> 5 Star Reviews rates this Jet Li film a 7.7 out of 10.</p>