@{
    ViewBag.Title = "Forrest Gump";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Forrest Gump<h2>

<p>Slow-witted Forrest Gump has never thought of himself as disadvantaged, and thanks to his supportive mother, he leads anything but a restricted life.<br>
Whether dominating on the gridiron as a college football star, fighting in Vietnam or captaining a shrimp boat, Forrest inspires people with his childlike optimism.<br>
But one person Forrest cares about most may be the most difficult to save -- his childhood love, the sweet but troubled Jenny.</p>

<p>Screenplay by Eric Roth, directed by Zemeckis, Tom Hanks puts in a fantastic performance and this all-time classic gets a 9 out of 10.</p>