
@{
    ViewBag.Title = "Genre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Genre</h2>

<div class="row">
    <div class="col-md-4">
        <h2>Action</h2>
        <p>
            See your favourite Action.</p>
        <p><a class="btn btn-default" href="http://localhost:12858/Home/Action">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Horror</h2>
        <p>See your favourite Horror.</p>
        <p><a class="btn btn-default" href="http://localhost:12858/Home/Horror">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sci-Fi</h2>
        <p>To pick you favourite Sci-Fi.</p>
        <p><a class="btn btn-default" href="http://localhost:12858/Home/ScienceFiction">Learn more &raquo;</a></p>
    </div>
    <div class ="col-md-4">
        <h2>Martial Arts</h2>
        <p>Find about the Film, Stories & Gossip on old and new films.</p>
        <p><a class="btn-default" href="http://localhost:12858/Home/MartialArts">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Drama</h2>
        <p>find you favourite Drama films</p>
        <p><a class="btn btn-default" href="http://localhost:12858/Home/Drama">Learn More &raquo;</a></p>
    </div>
</div>

