@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>5* Reviews</h1>
    <p class="lead">Read about the latest reviews.</p>
    <p><a href="http://localhost:12858/Home/Films" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Actors</h2>
        <p>
            See your favourite actors & Directors on your favourite films.
        </p>
        <p><a class="btn btn-default" href="http://localhost:12858/Home/Actors">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Directors</h2>
        <p>See the directors of your faverioute films.</p>
        <p><a class="btn btn-default" href="http://localhost:12858/Home/Directors">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Genre</h2>
        <p>To pick you favourite genres Action, Horror, Sci-Fi, Martial Arts and Drama it easy to add, and update the genre libraries.</p>
        <p><a class="btn btn-default" href="http://localhost:12858/Home/Genre">Learn more &raquo;</a></p>
    </div>
    <div class ="col-md-4">
        <h2>Films, Stories & Gossip</h2>
        <p>Find about the Film, Stories & Gossip on old and new films.</p>
        <p><a class="btn-default" href="http://localhost:12858/Home/FilmsStoriesandGossip">Learn more &raquo;</a></p>
    </div>
</div>