@{
    ViewBag.Title = "IpMan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>IpMan</h2>

<p> Ip Man is a 2008 Hong Kong biographical martial arts film based on the life of Yip Man, a grandmaster of the martial art Wing Chun and teacher of Bruce Lee.<br>
 The film focuses on events in Ip's life that supposedly took place in the city of Foshan during the Sino-Japanese War.<br>
 The film was directed by Wilson Yip, and stars Donnie Yen as Ip Man, with martial arts choreography by Sammo Hung.</p>

 <h2> The Real Yip Man</h2>
 <p> In 1949, when the Chinese Communist Party came to power, Man fled to Hong Kong<br>
 Here he opened a Wing Chun school, charging for his services and becoming the first martial arts master to train students publicly.<br>
 One of Man's most notable students was Bruce Lee, who studied under the master in 1953. At the age of 13, Lee was an excellent and intense student and became proficient in the Wing Chun art.<br>
 Lee would return to visit Yip Man in later years, the two having become friends.</p>
 
 <p> Wilson Yip's film on the life of Yip Man gets an 8.2 out of 10.</p>