@{
    ViewBag.Title = "Kung Fu Hustle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Kung Fu Hustle</h2>

<p>Hapless Sing and his dim-witted pal, Bone, try to scam the residents of Pig Sty Alley into thinking they're members of the dreaded Axe Gang.<br>
The real gangsters descend on this Shanghai slum to restore their fearsome reputation. What gang leader Brother Sum doesn't know is that three legendary<br> 
retired kung fu masters live anonymously in this decrepit neighborhood and don't take kindly to interlopers.</p>

<p> This is more of a fantasy martial arts film and 5 Stars Reviews rates it a 7.8 out of 10.</p>