@{
    ViewBag.Title = "Manchester By the Sea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manchester by the Sea</h2>

<p>After the death of his older brother Joe, Lee Chandler is shocked that Joe has made him sole guardian of his teenage nephew Patrick.<br>
Taking leave of his job as a janitor in Boston, Lee reluctantly returns to Manchester-by-the-Sea, the fishing village where his working-class family has lived for generations.<br>
There, he is forced to deal with a past that separated him from his wife, Randi, and the community where he was born and raised.</p>

<p>	Relatively new film, Manchester-by-the-Sea, is an impactful drama and we currently rate it a 6.8 out of 10.</p>