@{
    ViewBag.Title = "Saving Private Ryan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Saving Private Ryan</h2>

<p>Captain John Miller takes his men behind enemy lines to find Private James Ryan, whose three brothers have been killed in combat.<br>
Surrounded by the brutal realties of war, while searching for Ryan, each man embarks upon a personal journey and discovers their own strength to triumph over an<br>
uncertain future with honor, decency and courage.</p>

<p>Uncompromising, powerful war movie that does not pull any punches. Pefectly balances the inhumanity of war and the humanity of its protagonists. Devastating and essential viewing.</p>

<p>The opening D-Day scene is not exploitation, but rather a master filmmaker's true-life recreation of one of the bloodiest battles in human history, to make one appreciate the bravery and the loss.</p>

<p> Another To Hanks epic, this gets a 10 out of 10, an emotional rollercoaster, filled with action scenes that changed cinematography thereafter.</p>