@{
    ViewBag.Title = "SciencwFiction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Sciene Fiction</h2>
<table>
    <tr>
       <td><a href="http://localhost:12858/Home/Tron">Tron</a></td>
        <text>1980's films</text>
        
        <td><a href="http://localhost:12858/Home/Serenity">Serenity</a></td>
        <td><a href="http://localhost:12858/Home/RogueOneAStarWarsStory">Rogue One A Star Wars Story</a></td>
        <td><a href="http://localhost:12858/Home/StarWarsANewHope">Star Wars A New Hope</a></td>
        <td><a href="http://localhost:12858/Home/SpaceOdyssey2001">2001 Space Odessey</a></td>
        <td><a href="http://localhost:12858/Home/CloseEncounters">Close Encounters</a></td>
        <td><a href="http://localhost:12858/Home/BladeRunner">Blade Runner</a></td>
        <td><a href="http://localhost:12858/Home/AlienCovenant">Alien Covenant</a></td>
    </tr>
    

</table>