@{
    ViewBag.Title = "The Raid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>The Raid</h2>

<p>A rookie member of an elite team of commandos, Rama is instructed to hang back while his comrades-in-arms go ahead with their mission to take down a brutal crime lord called Tama.br>
However, the team's cover is blown, and Tama offers sanctuary to every criminal in his high-rise apartment block in exchange for the cops' heads.<br>
Now Rama must take command and lead his remaining team on an ultraviolent charge through the building to complete -- and survive -- the mission.</p>

<p>An Indonesian martial arts film with fairly exciting fight choreography gets a 7.3 out of 10.</p>