@{
    ViewBag.Title = "Action";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Action</h2>

<table>
    <tr>
        <td><a href="http://localhost:12858/Home/JohnWickChapter2">John Wick Chapter 2</a></td>
        <td><a href="http://localhost:12858/Home/Avengers">Avengers</a></td>
        <td><a href="http://localhost:12858/Home/GuardiansoftheGalaxyVol2">Guardians of the Galaxy Vol 2</a></td>
        <td><a href="http://localhost:12858/Home/MadMaxFuryRoad">Mad Max: Fury Road</a></td>
        <td><a href="http://localhost:12858/Home/CasinoRoyale2006">Casino Royale 2006</a></td>
        <td><a href="http://localhost:12858/Home/FaceOFF">Face Off</a></td>
    </tr>


</table>