@{
    ViewBag.Title = "Action";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Action</h2>

John Wick Chapter 2
Avengers
Guardians of the Galaxy Vol 2
Mad Max: Fury Road
Casino Royale(2006)
Face/Off
