@{
    ViewBag.Title = "Horror";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Horror</h2>

<table>
    <tr>
        <td><a href="http://localhost:12858/Home/ISpitOnYourGrave">I spit on your grave</a></td>
        <td><a href="http://localhost:12858/Home/Sinsiter">Sinsiter</a></td>
        <td><a href="http://localhost:12858/Home/Alien">Alien</a></td>
        <td><a href="http://localhost:12858/Home/TheOmen">The Omen</a></td>
        <td><a href="http://localhost:12858/Home/TheInvitation">The Invitation</a></td>

    </tr>


</table>





