@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>5* Reviews</h1>
    <p class="lead">Read about the latest reviews.</p>
    <p><a href="http://localhost:12858/Home/Films" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Actors</h2>
        <p>
            See your favourite actors & Directors on your favourite films.
        </p>
        <p><a class="btn btn-default" href="http://localhost:12858/Actor/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Directors</h2>
        <p>See the directors of your faverioute films.</p>
        <p><a class="btn btn-default" href="http://localhost:12858/Director/Index">Learn more &raquo;</a></p>
    </div>
    <div class ="col-md-4">
        <h2>Reviews</h2>
        <p>Find about the Film, Stories & Gossip on old and new films.</p>
        <p><a class="btn-default" href="http://localhost:12858/Review/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Films</h2>
        <p>Find out about all the descriptions of our listed Films.</p>
        <p><a class="btn-default" href="http://localhost:12858/Film/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Comments</h2>
        <p>Comment on Actors and/or Directors.</p>
        <p><a class="btn-default" href="http://localhost:12858/Comment/Index">Learn more &raquo;</a></p>
    </div>
</div>