@{
    ViewBag.Title = "Martial Arts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Martial Arts</h2>

<table>
    <tr>
        <td><a href="http://localhost:12858/Home/IpMan">Ip Man</a></td>
        <td><a href="http://localhost:12858/Home/EntertheDragon">Enter the Dragon</a></td>
        <td><a href="http://localhost:12858/Home/Fearless">Fearless</a></td>
        <td><a href="http://localhost:12858/Home/KungFuHustle">Kung Fu Hustle</a></td>
        <td><a href="http://localhost:12858/Home/TheRaid">The Raid</a></td>

    </tr>


</table>