@{
    Layout = "~/Views/Home/About.cshtml";
}

ViewBag.Title = "Index";
}
<div><b>League Table Displaying Films</b></div>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Film Title</th>
        <th>Ranking (Out of 10)</th>
    </tr>
</table>
